*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../IMAGES/backgroundPhoto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    background-image: url("../IMAGES/minibackgroundPhoto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    font-size: 50px;
}
#buttonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#points{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
a{
    width: 80%;
    height: 100px;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-size: 30px;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
a:hover{
    background-color: darkblue;
}