*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}
div{
    font-size: 25px;
    padding: 2px;
}
#submit{
    width: 300px;
    height: 50px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    font-size: 40px;
}
#submit:hover{
    background-color: darkblue;
    border: 2px solid darkblue;
}