@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    gap: 10px;
}
.mainSec{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255 255 255 / 0.1);
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    gap: 30px;
}
.cardTitle{
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-family: "bungee", "archivo black", sans-serif;
}
.categories{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.category{
    width: 130px;
    height: 50px;
    background-color: rgba(12, 12, 12, 1);
    color: #FFFFFFB3;
    font-weight: 900;
    border: 2px solid rgb(255 255 255 / 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-family: "DM sans", sans-serif;
    cursor: default;
    transition: 0.3s;
}
.category:hover{
    border: 2px solid #0DCCF2;
    background-color: rgba(72, 72, 72, 0.2);
}


.btn{
    width: 100%;
    height: 70px;
    background-color: #0DCCF2;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM sans", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(13, 204, 242, 0.5);
}
.btn:hover{
    box-shadow: 0px 4px 22px rgba(13, 204, 242, 0.7);
    transform: translateY(-4px);
}