@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    gap: 20px;
    user-select: none;
}
.star{
    width: 100px;
    height: 100px;
    background: url("../assets/starSymbol.png");
    background-color: #002B36;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid #005266;
}
.title{
    font-size: 6rem;
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
}
.paragraph{
    width: 500px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "DM sans", sans-serif;
    color: #FFFFFFB3;
}
.startBtn{
    width: 300px;
    height: 70px;
    background-color: #0DCCF2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    gap: 10px;
    margin-top: 20px;
    transition: 0.3s;
    text-decoration: none;
}
.playIcon{
    width: 30px;
    height: 30px;
    background: url("../assets/playIcon.png");
    background-size: cover;
}
.startBtn:hover{
    box-shadow: 0px 4px 20px rgba(13, 204, 242, 0.8);
    transform: translateY(-10px);
}