*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../IMAGES/backgroundImage2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#registration{
    width: 30%;
    height: 250px;
    border: 10px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.input{
    width: 250px;
    height: 50px;
    font-size: 32px;
}
#submit_button{
    width: 250px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid lightgreen;
    background-color: green;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#submit_button:hover{
    background-color: darkgreen;
}
.warn{
    border: 2px solid red;
    background-color: lightcoral;
}
@keyframes shake {
    0%{
        transform:  translateX(0px);
    }
    25%{
        transform: translateX(-8px);
    }
    50%{
        transform: translateX(8px);
    }
    100%{
        transform: translateX(0);
    }
}
.shakeAnimate{
    animation: shake 0.4s;
}