*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("#");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#category{
    width: 100%;
    height: 35vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 50px;
}
#letters{
    width: 100%;
    height: 35vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#buttons{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: pink;
}
#img{
    width: 400px;
    height: 250px;
}
#letter1{
    width: 100px;
}
button{
    width: 500px;
    height: 100px;
    font-size: 60px;
    background-color: green;
    border: 2px solid green;
    transition: 0.5s;
}
button:hover{
    background-color: darkgreen;
    border: 2px solid darkgreen;
}
.btn{
    width: 500px;
    height: 100px;
    font-size: 60px;
}