@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
.mainSec{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255 255 255 / 0.1);
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    gap: 10px;
}
.giftBg{
    width: 80px;
    height: 80px;
    background-color: #A655F633;
    border: 2px solid #A655F68E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.giftIcon{
    width: 50px;
    height: 50px;
    background-image: url("../assets/giftIcon.png");
    background-size: cover;
}
.cardTitle{
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-family: "bungee", "archivo black", sans-serif;
}
.giftGotPlayer{
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
    font-family: "DM sans", "Lato", sans-serif;
    color: rgb(134, 230, 249);
}
.freeGuesses{
    width: 150px;
    height: 150px;
    margin: 20px 0 0 0;
    border-radius: 50%;
    color: #A655F6;
    border: 5px solid #a655f6ab;
    box-shadow: 0px 10px 75px #A655F6;
    animation: shadowing 1.5s ease-in-out infinite;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: "DM sans", "Lato", sans-serif;
}
.btn{
    width: 100%;
    height: 70px;
    background-color: #0DCCF2;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(13, 204, 242, 0.5);
}
.btn:hover{
    box-shadow: 0px 4px 22px rgba(13, 204, 242, 0.7);
    transform: translateY(-4px);
}
.text{
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
    color: #FFFFFF99;
    font-family: "DM sans", "Lato", sans-serif;
    font-weight: 600;
}
.purpleColor{
    color: #A655F6;
}
.whiteColor{
    color: white;
}
.customColor{
    color: #EF4343;
}
.guessNum{
    animation: appear 1s ease forwards;
}
@keyframes shadowing {
    0%, 100%{
        box-shadow: 0px 0px 20px #a655f685;
        text-shadow: 0px 0px 50px #a655f685;
    }
    50%{
        box-shadow: 0px 0px 50px #a655f685;
        text-shadow: 0px 0px 10px #a655f685;
    }
}
@keyframes appear{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0);
    }
}