@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    gap: 20px;
    user-select: none;
}
.mainSec{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255 255 255 / 0.1);
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    gap: 30px;
}
.cardTitle{
    font-size: 3rem;
    font-weight: 100;
    color: white;
    font-family: "bungee", "archivo black", sans-serif;
}
.wordWriter{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: rgb(9, 9, 9);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.wordWriterText{
    font-weight: 900;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFFB3;
}
.playerName{
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    color: rgb(109, 218, 255);
}
.wordFinder{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: rgb(9, 9, 9);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.arrow{
    width: 40px;
    height: 40px;
    background-image: url("../assets/rightArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.playerName2{
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    color: #F53D99;
}
.paragraph{
    font-size: 1.2rem;
    color: white;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFFB3;
}
.playerNameSpan{
    color: white;
    font-weight: 900;
}
.btn{
    width: 100%;
    height: 70px;
    background-color: #0DCCF2;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(13, 204, 242, 0.5);
}
.btn:hover{
    box-shadow: 0px 4px 22px rgba(13, 204, 242, 0.7);
    transform: translateY(-4px);
}
.btnPlayerName{
    margin: 0 0 0 5px;
}