@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
.foundBar{
    border: 1px solid rgba(255, 59, 59, 0.67) !important;
}
.mainSec{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255 255 255 / 0.1);
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    gap: 2px;
}
.crownBg{
    width: 130px;
    height: 130px;
    border: 2px solid purple;
    background-color: rgba(128, 0, 128, 0.471);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.crownIcon{
    width: 100px;
    height: 100px;
    background-image: url("../assets/crown.png");
    background-size: cover;
}
.gameOver{
    color: #FFFFFFB3;
    font-size: 2.5rem;
    font-family: "bungee";
}
.winner{
    color: white;
    font-family: "bungee";
}
.hpShows{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hpBar1, .hpBar2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
.name1, .name2{
    font-size: 1.3rem;
    font-family: "DM sans";
    color: #FFFFFF80;
    font-weight: 900;
}
.line{
    font-size: 5rem;
    color: #FFFFFF33;
}
.hpBar1, .hpBar2{
    font-size: 2rem;
    font-family: "DM sans";
}
.hpBar1{
    color: rgb(109, 218, 255);
}
.hpBar2{
    color: #F53D99;
}
.btn{
    width: 100%;
    height: 70px;
    background-color: #0DCCF2;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 2px 15px #0DCCF2;
    gap: 10px;
}
.btn:hover{
    box-shadow: 0px 4px 22px #0DCCF2;
    transform: translateY(-4px);
}
.starIcon{
    width: 30px;
    height: 30px;
    background-image: url("../assets/star.png");
    background-size: cover;
}